div {
	height: 200px;
	width: 600px;

	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -300px;

	text-align: center;
	text-shadow: 1px 2px 2px #333333;
	font: 36px "Courier New", monospace;
	color: #009900;
}

body {
	background-color: #1a1a1a;
}
